{% extends 'base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block title %}
    Login
{% endblock %}


{% block main_content %}

    <div class="container text-center align-items-center" id="login_form">
        <form method='POST' action="/login">

            {{ form.csrf_token }}

            {{ form.username.label(class='mt-2 pt-2') }}
            {{ form.username(class='text-dark border-0 bg-transparent my-1 form-control', placeholder='Username') }}
            <br>

            {{ form.password.label }}
            {{ form.password(class='text-dark border-0 bg-transparent my-1 form-control' , placeholder='Password') }}
            <br>

            {{ form.submit(class='submit text-white mb-1 btn form-submit') }}

        </form>
    </div>

{% endblock %}
