{% extends 'pages/base.html' %}

{% block stylesheet %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}

{% block title %} Home {% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    {% if category=='logout_ok' or category=='register_ok'%}
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-around w-50">
            <button class="btn bg-transparent" onclick="delete_flash(this)">
                <span class="text-white " aria-hidden="true">
                    <div><span>{{ message }}</span></div>
                </span>
            </button>
        </div>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}

<div class='title mx-auto'>
  <p>Just write it!</p>
</div>
<!-- 

<div class="clock container my-2">

<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
</div>
<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
  <div class="num">3</div>
  <div class="num">4</div>
  <div class="num">5</div>
  <div class="num">6</div>
  <div class="num">7</div>
  <div class="num">8</div>
  <div class="num">9</div>
</div>
<div class="colon"></div>
<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
  <div class="num">3</div>
  <div class="num">4</div>
  <div class="num">5</div>
</div>
<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
  <div class="num">3</div>
  <div class="num">4</div>
  <div class="num">5</div>
  <div class="num">6</div>
  <div class="num">7</div>
  <div class="num">8</div>
  <div class="num">9</div>
</div>
<div class="colon"></div>
<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
  <div class="num">3</div>
  <div class="num">4</div>
  <div class="num">5</div>
</div>
<div class="column">
  <div class="num">0</div>
  <div class="num">1</div>
  <div class="num">2</div>
  <div class="num">3</div>
  <div class="num">4</div>
  <div class="num">5</div>
  <div class="num">6</div>
  <div class="num">7</div>
  <div class="num">8</div>
  <div class="num">9</div>
</div>
 -->

  <img src="{{ url_for('static' , filename='images/Welcome.png') }}" alt="">

</div>
<script src="{{ url_for('static' , filename='js/clock.js')}}"></script>
{% endblock %}
