{% extends 'pages/base.html' %}

{% block stylesheet %}

  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}

{% block title %} Home {% endblock %}

{% block main_content %} 



{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    {% if category=='logout_ok' or category=='register_ok'%}
    <div class="d-flex justify-content-center">
      <div class="d-flex justify-content-around w-50">
          <button class="message w-100 text-white btn bg-success" onclick="delete_flash(this)">
              {{ message }}
          </button>
      </div>
  </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}


<div class='title mx-auto'>
  <p>Just write it!</p>
</div>


  <img src="{{ url_for('static' , filename='images/Welcome.png') }}" alt="">
  <script src="{{ url_for('static' , filename='js/home.js') }}"></script>
</div>
{% endblock %}
