{% extends 'pages/base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static' , filename='css/logged.css')}}">
{% endblock %}

{% block title %} {{ current_user.username }} {% endblock %}

{% block main_content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

          {% if category=='mail_ok' or category=='deleted' or category=='post_ok' or category=='post_bad'%}
          <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-around w-50">
              <div><span>{{ message }}</span></div>
              <button class="btn bg-transparent" onclick="delete_flash(this)">
                <span class="text-white "aria-hidden="true">&#x2715;</span>
              </button>
            </div>
          </div>
          {% endif %}

        {% endfor %}
    {% endif %}
{% endwith %}


<h3 class="my-5 py-1">Hello dear {{current_user.username}} :)</h3>

<div class="container mx-auto">

<div class="d-flex justify-content-evenly">
  {% if posts %} 

    {% for i in range(0,post_num,2) %}

    {% if posts[i] %}
    <div class="flex-row">
      <div class="m-2 mx-auto p-1 flex-column">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="text-white card-title">{{ posts[i].title }}</h5>
            <hr class="text-info">
            <p class=" text-white card-text">{{ posts[i].content }}</p>
          </div>
          <div class="text-white card-footer"><a class="text-white " href="{{ url_for('delete_post_page' , post_title=posts[i].title , username=current_user.username )}}">Sil</a></div>
        </div>
      </div>
    {% endif %}

    {% if posts[i+1] %}
      <div class="m-2 mx-auto p-1 flex-column">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="text-white card-title">{{ posts[i+1].title }}</h5>
            <hr class="text-info">
            <p class=" text-white card-text">{{ posts[i+1].content }}</p>
          </div>
          <div class="card-footer"><a class="text-white " href="{{ url_for('delete_post_page' , post_title=posts[i+1].title , username=current_user.username) }}">Sil</a></div>
        </div>
      </div>
    {% endif %}
    </div>

    {% endfor %}

  {% else %}
  <p>Post Yok :(</p>
  {% endif %}

</div>

<div class="container mail">


  <div class="mx-auto my-2">
    <p class="text-center">To keep update, receive mails from us</p>
  </div>

  <form method="post">

    {{ form.csrf_token }}

    {{ form.email.label(class='my-1 text-white')}}
    {{ form.email(class='my-2 form-control' , placeholder='example@gmail.com')}}

    <br>

    {{ form.submit(class='my-1 submit btn text-white')}}

  </form>

</div>

</div>



{% endblock %}
