{% extends 'pages/base.html' %}

{% block stylesheet %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/post_create.css')}}">
{% endblock %}

{% block title %}
  Post Oluştur
{% endblock %}

{% block main_content %}
  <br>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}

    {% if category=='post_bad'%}
    <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-around w-50">
            <button class="btn bg-danger" onclick="delete_flash(this)">
                <span class="text-white " aria-hidden="true">
                    <div><span class="message">{{ message }}</span></div>
                </span>
            </button>
        </div>
    </div>
    {% endif %}

    {% endfor %}
    {% endif %}
    {% endwith %}
  <br>

  <form class="container"  method="post">
    {{ form.csrf_token }}

    {{ form.title.label }}
    {{ form.title(class='form-control text-center' , placeholder='Title')}}
    <br>

    {{ form.content.label }}
    {{ form.content(id='content_area' , class='form-control' , placeholder='Content')}}
    <br>

    {{ form.author.label }}
    {{ form.author(class='form-control text-center' , value= current_user.username , readonly="readonly")}}
    <br>

    {{ form.submit(class='submit text-white mb-1 btn form-submit') }}

  </form>

  <script src="{{ url_for('static' , filename='post_create.js') }}"></script>

{% endblock %}
