{% extends 'pages/base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
{% endblock %}

{% block title %}
Register
{% endblock %}

{% block main_content %}



<div class="container rounded-1">
    <div class="card " id="register_form">
        <div class="mt-3 card-title text-center ">
            <h5>Üyelik Formu</h5>
        </div>
        <div class="card-body">
            <div class="container text-center">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}

                {% if category=='login_bad' or category=='register_no' %}
                <div class="d-flex justify-content-center">
                    <div class="d-flex justify-content-around w-50">
                        <button class="btn bg-transparent" onclick="delete_flash(this)">
                            <span class="text-white " aria-hidden="true">
                                <div><span>{{ message }}</span></div>
                            </span>
                        </button>
                    </div>
                </div>
                {% endif %}

                {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="POST">

                    {{ form.csrf_token }}

                    {{ form.username.label }}
                    {{ form.username(class="text-dark border-0 bg-transparent form-control" , placeholder='Kullanıcı Adı') }}
                    <br>

                    {{ form.email.label }}
                    {{ form.email(class="text-dark border-0 bg-transparent form-control" , placeholder='Email') }}
                    <br>

                    {{ form.password.label }}
                    {{ form.password(class="text-dark border-0 bg-transparent form-control" , placeholder='Parola') }}
                    <br>

                    {{ form.submit(class="submit text-white btn") }}

                </form>

            </div>
        </div>
    </div>
</div>



{% endblock %}