body{
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.none-background{
  background: none;
}

:root {
  color-scheme: light dark; /* both supported */
}

#wave{
  z-index: -200;
  position: absolute;
}

#navbar::before , #navbar::after{
  content: ' ';
  display:block;
  height: 7px;
}


.nav-link a{
  font-size: 1.2rem;
  color: white;
}

.nav-link a:hover{
  color: #DEF2F1;
}

.nav-img{
  width: 10%;
}

.nav-link::after , .nav-link::before{
  content: ' ';
}

.darkMode::after , .darkMode::before {
  content: '';
}