body{
  /* background-image: url('../images/pexels-oliver-sjöström-1078983.jpg'); */
  /* background-color: #180606; */
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

#wave{
  z-index: -200;
  position: absolute;
}

#navbar::before{
  content: ' ';
  display:block;
  height: 7px;
}

#navbar::after{
  content: ' ';
  display:block;
  height: 7px;
}

.nav-link a{
  font-size: 1.2rem;
  color: white;
}

.nav-link a:hover{
  color: #DEF2F1;
}

/* #main-content{
  background-color: #DEF2F1;
} */
