#register_form{
  background: rgba(211, 205, 223, 0.33);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(211, 205, 223, 0.09);
  margin-top: 7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

#submit{
  background-color: rgba(82, 98, 156, 0.33);
}